.rtb-clear {
  clear: both;
}

.rtb-helper-install-notice {
  display: inline-block;
  clear: both;
}

.rtb-helper-install-notice-img,
.rtb-helper-install-notice-txt
 {
  float: left;
  padding: 8px 8px 8px 0px;
}

.rtb-helper-install-notice div img {
  max-height: 36px;
}

/* NEW PLUGIN NOTICE */

.ait-aiaa-new-plugin-notice {
  display: flex;
  align-items: center;
  min-height: 88px;
  border-left-color: #5511f8;
}
.rtb-new-plugin-notice-img {
  width: 64px;
  height: 64px;
  margin-right: 16px;
}
.rtb-new-plugin-notice-img img {
  width: 64px;
  height: 64px;
}
.rtb-new-plugin-notice-txt p {
  margin: 2px 0;
  padding: 0;
}
.rtb-new-plugin-notice-txt a {
  color: #5511f8;
  font-weight: bold;
  text-decoration: none;
}
.rtb-new-plugin-notice-txt a:hover {
  color: #7e56dc;
  text-decoration: underline;
}